.element {
  display: grid;
  grid-template-columns: repeat(3, 282px);
  column-gap: 17px;
  row-gap: 20px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
  justify-content: center;
}

@media screen and (max-width: 900px) {
  .element {
    grid-template-columns: repeat(2, 282px);
  }
}

@media screen and (max-width: 600px) {
  .element {
    grid-template-columns: 282px;
  }
}

