.header__userInfo {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  gap: 24px;
}

/*@media screen and (max-width: 600px) {
  .header__userInfo {
    width: 100%;
    padding-bottom: 31px;
    padding-left: 27px;
  }
}*/

