.profile__subtitle {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: Inter, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 122%;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 1280px) {
  .profile__subtitle {
    font-size: calc(14px + (18 - 14) * (100vw - 800px) / (1280 - 800));
  }
}

@media screen and (max-width: 800px) {
  .profile__subtitle {
    font-size: 14px;
    line-height: 121%;
    text-align: center;
  }
}

