.popup__img-reg_error {
  background-image: url('../../../../images/error-reg.svg');
  background-color: transparent;
  
}

/*@media screen and (max-width: 600px) {
  .popup__img-reg_error {
  height: 20px;
  width: 20px;
  top: -36px;
  right: 0;
  }
}*/

