.form__btn-save_loading {
  background-image: url(../../../../images/spinner.gif);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

