.popup__heading {
  margin: 0;
  padding: 0;
  font-family: Inter, Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 122%;
  text-align: left;
}

@media screen and (max-width: 600px) {
  .popup__heading {
    font-size: 18px;
  }
}

